/* Container */
.login-container {
    display: flex;
    height: 100vh;
    font-family: 'Arial', sans-serif;
}

/* Left Section */
.login-left {
    flex: 1;
    background: url('../images/loginImage.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-overlay {
    background-color: rgba(11, 17, 54, 0.8);
    /* Semi-transparent overlay */
    color: white;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
}

.login-title {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
}

.login-subtitle {
    font-size: 36px;
    margin: 10px 0;
}


/* Right Section */
.login-right {
    flex: 1;
    background: white;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-welcome {
    font-size: 28px;
    font-weight: bold;
    color: #0b1136;
    margin: 30px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #6e6e6e;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.forgot-password {
    font-size: 14px;
    color: #4a90e2;
    text-decoration: none;
}

.login-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background: #4a90e2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.login-button:hover {
    background: #357ac8;
}

.signup-text {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
}

.signup-link {
    color: #4a90e2;
    text-decoration: none;
    font-weight: bold;
}

/* Media Queries */
@media (max-width: 1135px) {
    .login-container {
        flex-direction: column;
        overflow-y: scroll;
    }

    .login-left {
        height: 50vh;
    }
}

@media (max-width: 580px) {
    .login-right {
        padding: 20px;
    }

    .login-title {
        font-size: 36px;
    }

    .login-subtitle {
        font-size: 24px;
    }

    .login-features {
        font-size: 12px;
    }

    footer {
        flex-direction: column;
        height: 600px;
    }
}