* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #514bf3;
    --secondary-color: #e7c13c;
    --background-color: "white";
    --background-color-two: #f8edfd;
}

html {
    font-size: 62.5%;
    font-family: 'Josefin Sans', sans-serif;
}

header {
    width: 100%;
    height: 90px;
    box-shadow: -1px 7px 5px var(--secondary-color);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 100%;
}

.title-section {
    margin-top: 40px;
    font-size: 2.4rem;
    font-weight: 500;
}

.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    width: 100%;
    max-width: 1200px;
    height: 800px;
}

@media (max-width: 1135px) {
    .section {
        overflow-y: scroll;
    }
}

@media (max-width: 580px) {
    footer {
        flex-direction: column;
        height: 600px;
    }
}